:root {
    --cor-escura: #1f2a44;
    --cor-clara: #ffffff;
    --cinza-claro: #f1f3f8;
    --cinza-escuro: #8a8a8a;
    --azul-petroleo: #3b4d66;
    --verde-neon: #31af31;
    --brilho: rgba(255, 255, 255, 0.6);
    --transicao-suave: 0.2s ease-in-out;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, var(--azul-petroleo), var(--cor-escura));
}

a {
    color: inherit; /* Herda a cor do texto ao redor, mantendo o estilo */
}

/* Transições gerais */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.navbar {

    background-color: var(--azul-petroleo);
    color: var(--cor-clara);
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--cinza-claro);
    border-radius: 10px;
    backdrop-filter: blur(8px);
    transition: background-color var(--transicao-suave), border-color var(--transicao-suave);
}

.navbar a {
    padding: 0.75rem 1.25rem;
    font-size: 1.125rem;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    transition: color var(--transicao-suave), transform var(--transicao-suave), box-shadow var(--transicao-suave);
}

.navbar a i {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    transition: color var(--transicao-suave), transform var(--transicao-suave);
}



/* Efeito de hover mais sutil */
.navbar a:hover {

    /* funcionou quando coloquei ele aqui  */
    text-decoration: none;

    color: var(--verde-neon);
    background-color: rgba(255, 255, 255, 0.1); /* Fundo sutil para o hover */
    box-shadow: 0 0 6px var(--verde-neon), 0 0 10px var(--verde-neon);
}

/* Efeito sutil quando pressionado */
.navbar a:active {
    transform: scale(0.98);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 1.25rem;
    transition: color var(--transicao-suave);
}

/* Hover nos itens de lista - apenas mudanças de cor e sombra */
.navbar li:hover {
    color: var(--verde-neon);
    box-shadow: 0 0 6px var(--verde-neon), 0 0 10px var(--verde-neon);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
    }

    .navbar li {
        margin-bottom: 1rem;
    }
}
